logs/*
!logs/.gitkeep
scylla_db/*
!scylla_db/.gitkeep
mysql_db/*
!mysql_db/.gitkeep
sql_db/*
!sql_db/.gitkeep
wildsearch_crawler/__pycache__/
wildsearch_crawler/spiders/__pycache__/
dump.rdb
twistd.pid
~/
~*
crawls
dbs
proxy_list.csv
